extends ../layout

block content
  .container
    .row
      .col-md-8
        h1.my-4= dataset.title
        h3= t('app.dataset.description')
        p= dataset.description

        h3= t('app.dataset.info')
        .table-responsive
          table.table
            thead
              tr
                th(scope='row')= t('app.dataset.identifation_number')
                td= dataset.id
            tbody
              tr
                th(scope='row')= t('app.dataset.license')
                td
                  a(href= dataset.licenseType().url)= dataset.licenseType().title
              tr
                th(scope='row')= t('app.dataset.added_at')
                td= dataset.createdAt.toDateString()
              tr
                th(scope='row')= t('app.dataset.updated_at')
                td= dataset.updatedAt.toDateString()

        h3= t('app.dataset.download')
        each file in dataset.files
          a.btn(href=file.path)= file.mime_type

      .col-md-4
        .card.my-4
          include ../layout/_search
        .card.my-4
          include _categories
        //-.card.my-4
        //-  include _datatype
          