extends ../layout

block content
  .container
    .row
      .col-md-8
        h1.my-4= dataset.title
        h3 Description
        p= dataset.description

        h3 Info
        .table-responsive
          table.table
            thead
              tr
                th(scope='row') Identifation number
                td= dataset.id
            tbody
              tr
                th(scope='row') License
                td
                  a(href= dataset.licenseType().url)= dataset.licenseType().title
              tr
                th(scope='row') Added at
                td= dataset.createdAt.toDateString()
              tr
                th(scope='row') Updated at
                td= dataset.updatedAt.toDateString()

        h3 Download
        each file in dataset.files
          a.btn(href=file.path)= file.mime_type

      .col-md-4
        .card.my-4
          include ../layout/_search
        .card.my-4
          include _categories
        //-.card.my-4
        //-  include _datatype
          