extends ../layout
block title
  title= t('dashboard.new')

block content
  ol.breadcrumb
    li.active= t('dashboard.new')
  include ../_error.pug  
  
  form(role='form', action="/dashboard/page", method="post")
    .form-group
      label(for="page_title")= t('dashboard.page.title')
      input.form-control(type='text', name="title", id="page_title", required="")
    .form-group
      label(for="page_slug")= t('dashboard.page.slug')
      input.form-control(type='text', name="slug", id="page_slug", required="")    
    .form-group
      label(for="page_body")= t('dashboard.page.body')
      textarea.form-control(name="body", id="page_body", required="")
    button.btn.btn-default(type='submit')= t('dashboard.form.submit')